<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th>Note sur 10</th>
      <th>Seinen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.value %></td>
        <td><%= link_to note.seinen, note.seinen %></td>
        <td><%= link_to 'Voir', note %></td>
        <td><%= link_to 'Modifier', edit_note_path(note) %></td>
        <td><%= link_to 'Supprimer', note, method: :delete, data: { confirm: 'Êtes vous sûr(e)' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle note', new_note_path %>
<%= link_to "Accueil", root_path %>
