<p id="notice"><%= notice %></p>

<p class="TitrePolice">
  <%= @seinen.title %>
</p>


<div class="article">

  <div class="description">
    <%= @seinen.article %>
  </div>
  </br>
  <div class="auteur">
    <%= @seinen.User_name.upcase %>
  </div>
  </br>
  <div class="ButtonShow">
    <%= link_to 'Edit', edit_seinen_path(@seinen) %> |
    <%= link_to 'Back', seinens_path %>
  </div>
</div>
